@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: rgb(32, 33, 36);
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 1px solid orange;
    width: 100vw;
    height: 100vh;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px 0;
    width: 100vw;
    
}

h1{display: flex; justify-content: center; align-items: center;}

#left ul, #right ul
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: rgb(219, 212, 212);
}
#left{margin-left: -15px;}
#right{margin-right: 20px;}
a{color: rgb(219, 212, 212); text-decoration: none;}
a:hover{text-decoration: underline; color: rgb(219, 212, 212);}

