header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #fafafa;
    height: 55px;
    color: forestgreen;
    border-bottom: 1px solid #d3d3d3;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo 
{
    font-size: 50px;
    background-color: aquamarine;
}