body{
    background-color: rgb(19, 17, 17);
    display: flex;
}

body #left_header 
{
    
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    color: whitesmoke;
}

