body 
{
    font-family: Arial, sans-serif;
}

header
{
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

header img {
    width: 150px;
    height: 150 px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section {
    margin: 20px;
}