@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: rgb(32, 33, 36);
    display: flex;
    font-family: 'Roboto', sans-serif;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#left ul, #right ul
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    color: rgb(219, 212, 212);
}
a
{
    color: rgb(219, 212, 212);
    text-decoration: none;
}

