@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: rgb(32, 33, 36);
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#left_header ul 
{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    color: rgb(219, 212, 212);
}

#right_header ul
{
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    color: rgb(219, 212, 212)
}
