body{
    background-color: rgb(43, 40, 40);
    display: flex;
}

#header_left 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
}

