body{
    background-color: rgb(32, 33, 36);
    display: flex;
}

#left_header ul 
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    color: rgb(219, 212, 212);
}

#right_header ul
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    color: rgb(219, 212, 212)
}
