@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: rgb(51, 84, 59);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 40px;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px 0;
    width: 100%;
    
}
h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: rgb(136, 221, 157); 
    width: 100vw; 
    height: 25vh; 
    font-size: 3em;
    border: 1px solid black;}

#left ul, #right ul
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: rgb(219, 212, 212);
}
#left{margin-left: -15px;}
#right{margin-right: 20px;}
a{color: rgb(219, 212, 212); text-decoration: none;}
a:hover{text-decoration: underline; color: rgb(219, 212, 212);}

